body {
    height: 100vh;
    background-image: url(../images/antique-antique-globe-antique-shop-antique-store-414916.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
 
    }
h5,p{color:white}
.btn{
    margin-left: 20px;;
}
li button {
    float: right;
    border: none;
    height: 40px;
    cursor: pointer;
    background-color: #ff9500;
    color: white;
    font-size: 1em;
  }
.teal.darken-4 {
    background-color: #004d40 !important;
    opacity: 0.95;
}
.orange.lighten-2 {
    background-color: #ffb74d !important;
    opacity: 0.9;
}
.cityFont{
    font-size: 70px;
    color:white;
}

.headerBlock{
    margin-top: 25px;
    background-color: whitesmoke;
    opacity: 0.87;
}
h3{
    text-align: center;
   color: #305d58;
    padding-top: 10px;
    text-shadow: 1px 1px 0 rgb(240, 209, 38);
}
.cardColor {
    margin-left:40px;
}
.row .col.s8{
    margin-left: 50px;
    padding-bottom: 10px;
}
.active{
 font-size: 20px;   
 padding-top: 15px;
color: rgb(16, 75, 67);
}
.move{
    margin-left: 40px !important;
}


  .input-field input[type=text]:focus {
    background-color: rgb(250, 253, 228);
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 rgb(0, 0, 0);
    color:black;
  }
 
.color{
    background: rgb(228, 171, 85);
    
    
}
.strikethrough:checked + span{
    /* color:black; */
    text-decoration:line-through
  }
.divBox{
    padding-bottom: 10px;
}  
.todoBox{
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 10px;
    /* background-color: #f1ce6d; */
    background-color: #ffd791;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
}
label{
    /* color:white; */
    color: #305d58;
    
}


.imageResolved img{
    object-fit: cover;
    width: 310px;
    height: 300px;

}
li{
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 10px;
    /* background-color: #f1ce6d; */
    /* background-color: #ffd791; */
    color: white;
    /* font-size: 20px; */
    line-height: 1.5;
    border-left: 6px solid orange;
    border-bottom: 1px solid orange;
    border-radius: 5px;
}
